
/* Flex helpers */
.flex {
    display: flex;

    >.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}