.event-list {
    --min-column-size: 300px;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: 1em;
    list-style: none;
}

.empty-state {
    text-align: center;
    padding: 2em;
    color: var(--pt-gray);
    font-size: 1.1em;
}